<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <system>
            <async_events>
                <max_deaths>5</max_deaths>
                <subscriber_log_cleanup_cron>0</subscriber_log_cleanup_cron>
                <subscriber_log_cron_delete_period>30</subscriber_log_cron_delete_period>
            </async_events>
        </system>
    </default>
</config>
