<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Aligent\Webhooks\Api\WebhookRepositoryInterface"
                type="Aligent\Webhooks\Model\WebhookRepository" />

    <preference for="Aligent\Webhooks\Api\Data\WebhookInterface"
                type="Aligent\Webhooks\Model\Webhook" />

    <preference for="Aligent\Webhooks\Api\Data\WebhookDisplayInterface"
                type="Aligent\Webhooks\Model\Webhook" />

    <preference for="Aligent\Webhooks\Api\Data\WebhookSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults" />

    <preference for="Aligent\Webhooks\Service\Webhook\NotifierFactoryInterface"
                type="Aligent\Webhooks\Service\Webhook\NotifierFactory" />

    <type name="Aligent\Webhooks\Model\ResourceModel\Webhook\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">webhook_subscriber</argument>
            <argument name="resourceModel" xsi:type="string">Aligent\Webhooks\Model\ResourceModel\Webhook</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="webhooks_webhooks_listing_data_source" xsi:type="string">Aligent\Webhooks\Model\ResourceModel\Webhook\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <type name="Aligent\Webhooks\Service\Webhook\ModelEventHandler">
        <arguments>
            <argument name="events" xsi:type="array">
                <item name="0" xsi:type="string">webhook_subscriber_updated</item>
            </argument>
        </arguments>
    </type>
</config>
