<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Aligent\Webhooks\Api\AsyncEventRepositoryInterface"
                type="Aligent\Webhooks\Model\AsyncEventRepository" />

    <preference for="Aligent\Webhooks\Api\Data\AsyncEventInterface"
                type="Aligent\Webhooks\Model\AsyncEvent" />

    <preference for="Aligent\Webhooks\Api\Data\AsyncEventDisplayInterface"
                type="Aligent\Webhooks\Model\AsyncEvent" />

    <preference for="Aligent\Webhooks\Api\Data\AsyncEventSearchResultsInterface"
                type="Aligent\Webhooks\Model\AsyncEventSearchResults" />

    <type name="Aligent\Webhooks\Model\ResourceModel\Webhook\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">webhook_subscriber</argument>
            <argument name="resourceModel" xsi:type="string">Aligent\Webhooks\Model\ResourceModel\AsyncEvent</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="webhooks_webhooks_listing_data_source" xsi:type="string">Aligent\Webhooks\Model\ResourceModel\Webhook\Grid\Collection</item>
                <item name="async_events_logs_listing_data_source" xsi:type="string">Aligent\Webhooks\Model\ResourceModel\WebhookLogs\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Aligent\Webhooks\Model\ResourceModel\WebhookLogs\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">webhook_subscriber_log</argument>
            <argument name="resourceModel" xsi:type="string">Aligent\Webhooks\Model\ResourceModel\AsyncEventLog</argument>
        </arguments>
    </virtualType>

    <!-- XML/XSD Config -->
    <type name="Aligent\Webhooks\Model\Config\Reader">
        <arguments>
            <argument name="fileName" xsi:type="string">async_events.xml</argument>
            <argument name="converter" xsi:type="object">Aligent\Webhooks\Model\Config\Converter</argument>
            <argument name="schemaLocator" xsi:type="object">Aligent\Webhooks\Model\Config\SchemaLocator</argument>
        </arguments>
    </type>

    <virtualType name="asyncEventDataStorage" type="Magento\Framework\Config\Data">
        <arguments>
            <argument name="reader" xsi:type="object">Aligent\Webhooks\Model\Config\Reader</argument>
            <argument name="cacheId" xsi:type="string">async_event_config_cache</argument>
        </arguments>
    </virtualType>

    <type name="Aligent\Webhooks\Model\Config">
        <arguments>
            <argument name="dataStorage" xsi:type="object">asyncEventDataStorage</argument>
        </arguments>
    </type>
</config>
